---
import Twemoji from '../common/Twemoji.astro';

interface Props {
  title?: string;
  subtitle?: string;
  tagline?: {
    text: string;
    emoji?: string;
  };
  items: Array<{
    title: string;
    description: string;
    icon?: string;
    emoji?: string;
    color?: string;
  }>;
}

const { items, title, subtitle, tagline } = Astro.props;
---

<section class="relative">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="text-center max-w-3xl mx-auto">
      {tagline && (
        <div class="flex items-center justify-center mb-4">
          {tagline.emoji && <Twemoji emoji={tagline.emoji} size="lg" class="mr-2" />}
          <p class="text-base text-primary font-semibold tracking-wide uppercase">
            {tagline.text}
          </p>
        </div>
      )}
      {title && <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">{title}</h2>}
      {subtitle && <p class="text-xl text-muted mb-8 dark:text-slate-400">{subtitle}</p>}
    </div>
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
      {items.map(({ title, description, emoji, icon, color }) => (
        <div class={`relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800 ${color || ''}`}>
          <div class="flex items-center mb-4">
            {emoji && <Twemoji emoji={emoji} size="xl" class="mr-2" />}
            {icon && <span class="text-4xl mr-2">{icon}</span>}
            <h3 class="text-xl font-bold">{title}</h3>
          </div>
          <p class="text-muted dark:text-gray-400">{description}</p>
        </div>
      ))}
    </div>
  </div>
</section>
